[Unit]
Description=hound
Wants=network-online.target
After=network-online.target
Documentation=https://github.com/hound-search/hound

[Service]
Type=simple
Environment=GOTRACEBACK=crash
ExecStart={{ hound_go_path }}/bin/houndd -addr {{ hound_host }}:{{ hound_port }} -conf {{ hound_config }}
LimitNOFILE=65536
LimitCORE=infinity
WorkingDirectory=/var/lib/hound/
SyslogIdentifier=hound
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
