# {{ ansible_managed }}
# Excerpt from defaults/main.yml

###########################
# Hound configuration
###########################

# Maximum amount of hound concurrent indexers
hound_indexers: {{ hound_indexers }}

# Path to hound index files
hound_index_files: "{{ hound_index_files }}"

###########################
# Local repository synchronization
###########################

# Path to local git repositories
localrepos_directory: "{{ localrepos_directory }}"

# List of organizations you'd like to index
# Ex: ['ansible', 'openstack']
localrepos_organizations:
{{ localrepos_organizations | to_nice_yaml(indent=4) }}

# Additional list of cherry-picked repositories
# Ex: ['https://github.com/namespace/repository']
localrepos_extra_repositories:
{{ localrepos_extra_repositories | to_nice_yaml(indent=4) }}

# Ignored repository name patterns that should not be synchronized.
# This is expected to be a regular expression, for example: "^.*puppet.*$"
localrepos_ignore: "{{ localrepos_ignore }}"

###########################
# GitHub Authentication
###########################
# These parameters are required in order to dynamically retrieve all the
# repositories from a GitHub organization through the GitHub API.
# Your GitHub username
github_username: "{{ github_username }}"

# Your GitHub personal token
# You can generate a new token here: https://github.com/settings/tokens
github_token: "{{ github_token }}"

# The GitHub API endpoints
# (Keep the default unless you're using GitHub enterprise)
github_repo_api: "{{ github_repo_api }}"
github_org_api: "{{ github_org_api }}"
